{% macro trigger(tag, text, class, href, icon) %}
    {% set tag = tag|default('a') %}

    <{{ tag }} class="btn {{ class }}" {% if tag == 'a' %} href="{{ href|default('#') }}" {% endif %}>
        {{ text }}

        {% if icon %}
            <span class="{{ icon }}"></span>
        {% endif %}
    </{{ tag }}>
{% endmacro %}