{#
/**
 * @input
 * Default implementation:
 * {{ form.input('text', '', 'input label', 'input-name') }}
 *
 * Available variables:
 * - type: field type (text, password, file)
 * - class: field class
 * - label: field label
 * - name: field name and id
 * - required: field required status
 */
#}
{% macro input(type, class, label, name, required, requiredMsg, control, controlMsg, controlValue) %}
    <div class="form-item form-item-input form-item-{{ type }} {% if(class) %}form-item-{{ class }}{% endif %}">
        <label for="{{ name }}" class="form-label">
            {{ label|raw }}
            {% if(required) %}<sup>*</sup>{% endif %}
        </label>
        <input type="{{ type }}" name="{{ name }}" id="{{ name }}" class="form-input form-{{ type }}" {% if(required) %}required{% endif %}/>
    </div>
{% endmacro %}


{#
/**
 * @checkbox
 * Default implementation:
 * {{ form.checkbox('checkbox label', 'checkbox-name') }}
 *
 * Available variables:
 * - label: field label
 * - name: field name and id
 * - required: field required status
 */
#}
{% macro checkbox(label, name, required, requiredMsg, control, controlMsg, controlValue) %}
    <div class="form-item form-item-checkbox">
        <input type="checkbox" name="{{ name }}" id="{{ name }}" class="form-checkbox" {% if(required) %}required{% endif %}/>
        <label for="{{ name }}" class="form-label">
            {{ label|raw }}
            {% if(required) %}<sup>*</sup>{% endif %}
        </label>
    </div>
{% endmacro %}


{#
/**
 * @radio
 * Default implementation:
 * {{ form.radio('radio label', 'radio-name', 'radio-id') }}
 *
 * Available variables:
 * - label: field label
 * - name: field name
 * - id: field id
 * - required: field required status
 */
#}
{% macro radio(label, name, id, required, requiredMsg, control, controlMsg, controlValue) %}
    <div class="form-item form-item-radio">
        <input type="radio" name="{{ name }}" id="{{ id }}" class="form-radio" {% if(required) %}required{% endif %}/>
        <label for="{{ id }}" class="form-label">
            {{ label|raw }}
        </label>
    </div>
{% endmacro %}


{#
/**
 * @select
 * Default implementation:
 * {{ form.select('select label', 'select-name', options) }}
 *
 * Available variables:
 * - label: field label
 * - name: field name and id
 * - options: list of the select options with optgroup management, see sample below
 *   {% set options = {
 *       '': 'select an option',                => <option value="">select an option</option>
 *       1 : 'option 1',                        => <option value="1">option 1</option>
 *       'optgroup 1': {                        => <optgroup label="optgroup 1">
 *           '1.1' : 'optgroup 1 > option 1',       => <option value="1.1">optgroup 1 > option 1</option>
 *           '1.2' : 'optgroup 1 > option 2',       => <option value="1.2">optgroup 1 > option 2</option>
 *           '1.3' : 'optgroup 1 > option 3'        => <option value="1.3">optgroup 1 > option 3</option>
 *       },                                     => </optgroup>
 *       2 : 'option 2',                        => <option value="2">option 2</option>
 *       3 : 'option 3'                         => <option value="3">option 3</option>
 *   } %}
 * - required: field required status
 */
#}
{% macro select(label, name, options, required, requiredMsg, control, controlMsg, controlValue) %}
    <div class="form-item form-item-select">
        <label for="{{ name }}" class="form-label">
            {{ label|raw }}
            {% if(required) %}<sup>*</sup>{% endif %}
        </label>
        <select name="{{ name }}" id="{{ name }}" class="form-select" {% if(required) %}required{% endif %}>
            {% for value, option in options %}
                {% if option is iterable %}
                    <optgroup label="{{ value }}">
                        {% for key, label in option %}
                            <option value="{{ key }}">{{ label }}</option>
                        {% endfor %}
                    </optgroup>
                {% else %}
                    <option value="{{ value }}">{{ option }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
{% endmacro %}


{#
/**
 * @textarea
 * Default implementation:
 * {{ form.textarea('textarea label', 'textarea-name') }}
 *
 * Available variables:
 * - label: field label
 * - name: field name and id
 * - required: field required status
 */
#}
{% macro textarea(label, name, required, requiredMsg, control, controlMsg, controlValue) %}
    <div class="form-item form-item-textarea">
        <label for="{{ name }}" class="form-label">
            {{ label|raw }}
            {% if(required) %}<sup>*</sup>{% endif %}
        </label>
        <textarea name="{{ name }}" id="{{ name }}" class="form-textarea" {% if(required) %}required{% endif %}></textarea>
    </div>
{% endmacro %}


{#
/**
 * @button
 * Default implementation:
 * {{ form.button('button', 'button-class', 'button text') }}
 *
 * Available variables:
 * - type: button type (submit, reset, button)
 * - class: button class
 * - label: button text
 */
#}
{% macro button(type, class, label) %}
    <div class="form-item form-item-button form-item-{{ type }} {% if(class) %}form-item-{{ class }}{% endif %}">
        <button type="{{ type }}" class="form-button form-{{ type }} {{ class }}">{{ label|raw }}</button>
    </div>
{% endmacro %}