<div class="module m-21 {% if flexCol %} m-21-mod-col {% endif %}">
    <h2 class="filter-product"><span class="filter-number">52</span> produits</h2>

    <div class="block-option">
        <div class="filter-select">
            <form action="go.php" method="get">
                <label class="block-text" for="select-sort-by-{{ id }}">Trier par</label>
                <select class="js-select2 select-content" name="sort-by" id="select-sort-by-{{ id }}" data-onchange="filterNavigation">
                    <option value="value1" class="text-list" {% if sortby == 'value1' %}selected{% endif %}>pertinence</option>
                    <option value="value2" class="text-list" {% if sortby == 'value2' %}selected{% endif %}>prix croissant</option>
                    <option value="value3" class="text-list" {% if sortby == 'value3' %}selected{% endif %}>prix décroissant</option>
                </select>
            </form>
        </div>
        <span class="product-list js-switch-moz"><i class="icon-foursquare-empty thin-icon {{ cookThumb }}"></i></span>
        <span class="product-list js-switch-list"><i class="icon-list-empty thin-icon {{ cookMoz }}"></i></span>

        <div class="filter-btn">
            <span class="btn btn-main js-toggler sortby-button" data-toggler-id="{{ id }}" data-toggler-group="tab-item-select">trier</span>

            <span class="btn btn-main js-toggler filter-button" data-toggler-id="{{ id }}" data-toggler-group="products-filters">filtrer</span>
        </div>

        <div class="inner-wrapper">
            <div class="accordion-wrapper js-item-toggler" data-toggler-itemid="{{ id }}" data-toggler-group="tab-item-select">
                <div class="block-select">
                    <p class="js-filter-sort block-value {% if sortby == 'value1' %}active{% endif %}" data-value="value1" data-onchange="filterNavigation">pertinence</p>
                    <p class="js-filter-sort block-value {% if sortby == 'value2' %}active{% endif %}" data-value="value2" data-onchange="filterNavigation">prix croissant</p>
                    <p class="js-filter-sort block-value {% if sortby == 'value3' %}active{% endif %}" data-value="value3" data-onchange="filterNavigation">prix décroissant</p>
                </div>
            </div>
        </div>

    </div>
</div>

