{% extends "layout/base-tpl.twig" %}

{#{% block title %}Index{% endblock %}#}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% import 'modules/video.twig' as video %}
    {% set id = "video-youtube" %}
    {% set id2 = "video-daily" %}
    {% set id3 = "video-facebook" %}
    {% set id4 = "video-vimeo" %}
    <h1>Module video-social</h1>
    <h2 class="important">
        Social networks videos integration examples.
    </h2>
    <p>Event <code>play</code> and <code>stop</code> are available. Do not save the element in <code>var</code>, it will be rewrite every time.
    </p>
    <p>An <code>id</code> is <strong>mandatory</strong></p>
    <div class="columner mod-d-1-4">
        <div class="col-item">
            <h2>Youtube</h2>
            {{ video.social("http://www.youtube.com/embed/_Z1VzsE1GVg", id) }}
            <div>
                <a href="#play" onclick="$('#{{ id }}').trigger('play');return false;">play</a>
                -
                <a href="#stop" onclick="$('#{{ id }}').trigger('stop');return false;">stop</a>
            </div>
        </div>
        <div class="col-item">
            <h2>Dailymotion</h2>
            {{ video.social("//www.dailymotion.com/embed/video/x5demnd", id2) }}
            <div>
                <a href="#play" onclick="$('#{{ id2 }}').trigger('play');return false;">play</a>
                -
                <a href="#stop" onclick="$('#{{ id2 }}').trigger('stop');return false;">stop</a>
            </div>
        </div>
        <div class="col-item">
            <h2>Facebook</h2>
            {{ video.social("https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FMonsterYamahaTech3%2Fvideos%2F10155016929453046%2F&show_text=0&width=560", id3) }}
            <div>
                <a href="#play" onclick="$('#{{ id3 }}').trigger('play');return false;">play</a>
                -
                <a href="#stop" onclick="$('#{{ id3 }}').trigger('stop');return false;">stop</a>
            </div>
        </div>
        <div class="col-item">
            <h2>Vimeo</h2>
            {{ video.social("https://player.vimeo.com/video/207610383", id4) }}
            <div>
                <a href="#play" onclick="$('#{{ id4 }}').trigger('play');return false;">play</a>
                -
                <a href="#stop" onclick="$('#{{ id4 }}').trigger('stop');return false;">stop</a>
            </div>
        </div>
    </div>
    <h2>Code HTML/Twig</h2>
    <p>HTML generated will look like this</p>
    <pre>&lt;embed id="{{ id }}" class="js-module" data-module="video-social" src="http://www.youtube.com/embed/_Z1VzsE1GVg">&lt;/embed>
       ____mandatory_____</pre>
    <p>Twig will be caled like this:</p>
    <pre>{% raw %}{{ video.social("https://player.vimeo.com/video/207610383", "foobar-id") }}{% endraw %}</pre>
    <h2>Code JS</h2>
    <p><code>play</code> and <code>stop</code> are accessible like this:</p>
    <pre>$('#{{ id }}').trigger('play');
$('#{{ id }}').trigger('stop');
    </pre>
{% endblock %}
